<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
   <appSettings>
    <add key="NpritingUserName" value="4zGmg3NuBj0VcNKFNrJrSPz13uxzMCyBDOBa8VhPxdg=" />
    <add key="NpritingPassword" value="i5Mln/HeoVxHGAfGxd6kizCSb2xOGqyiUaMk/JOR1J8=" />
    <add key="NPrintingAuthentication" value="https://nprintpp.otis.com:4993/api/v1/login/ntlm" />
    <add key="NPrintingGetUsers" value="https://nprintpp.otis.com:4993/api/v1/users/" />
    <add key="NPrintingGetReports" value="https://nprintpp.otis.com:4993/api/v1/reports/" />
    <add key="NPrintingGetTasks" value="https://nprintpp.otis.com:4993/api/v1/tasks/" />
    <add key="NPrintingGetFilters" value="https://nprintpp.otis.com:4993/api/v1/filters/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
   <connectionStrings>
    <add name="dbconnection" connectionString="DLBg6bXX2ZPWm3x0N0g0DXFsfWI7iuWAUec6oO7Bff6TBtw3e7hyqI3YycHbCEWFhZBFkGk3xyGvbW7335kNL3UfO/7HrJGfJSrg+lwwuu6bzylVBR2rLlk7clS7+mikA4Grp8+PWLjz1SgVI8Av0AwgWZPLKlo/eoIM5pLY4vUNNune4YD8Y1kQS03I25AfH86MWj35HFfF1AFpwH/J3MQ4IuE4QpArUj6ncjkCN4oOVBWW7OWXX/yKZbY8/0UTlxPt5qLziFEXoAJDHIk9V8jP8e2+o61B2fP+7mu8u7N1P7tEHBMrffe0VnczvjNs" providerName="System.Data.SqlClient" />
   <add name="dbconnection_NPT" connectionString="DLBg6bXX2ZPWm3x0N0g0DXFsfWI7iuWAUec6oO7Bff6TBtw3e7hyqI3YycHbCEWFhZBFkGk3xyGvbW7335kNL3UfO/7HrJGfJSrg+lwwuu6bzylVBR2rLlk7clS7+mikm8g06tVlHvDt43ggwbxctnoogRL5nUJDJvIdFc33HUqhhZq/ckMermR8jdfwimhmkCykXV3oDaQrdPbu2iJqrigdA71t0a48pCT7u2j0DBmlV7UXUwgXdPn4CO6VDAZX/rCOqB8cNNjFUX68GFsE4Q==" providerName="System.Data.SqlClient" />
   </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>

